ATS Resume.json
{
  "name": "ATS Resume",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application Form",
        "formDescription": "We'll get back soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Gmail",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Linkedin"
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "6019896e-558e-4ef5-9bb2-2c35ac166e0a",
      "name": "On form submission",
      "webhookId": "0e77e7ea-1257-4cba-bc51-b236647c8b39"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "efc307f2-ca06-4c86-892a-5c6ddb57b7bd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rule 1: Do not exceed maximum of 75 words. As an AI  with advanced capabilities in talent acquisition, analyze a candidate's resume against a job description. Output must be in ${output_language). Structure: 1. Compatibility Rating: Score 1-10 with rationale. 2. ATS Score: Realistic number out of 100 such as 43, 76, 89, reflecting keyword and skills alignment. 3. Recommendation: Advise if candidate should be interviewed with reasoning. Job description: \"Software Engineer\" at Atomise Al Resume: {resume}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "09c5fc76-8aa8-454d-a4ca-23da9163f819",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "fb6523d0-f003-4528-8bdc-2ee1ff41a323",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n\"ats_score\": 82,\n\n\"summary\": \"Your resume is well-structured and highlights relevant experience, but could use more targeted keywords to improve ATS compatibility.\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "6ad6d1e3-1bfa-4db7-b148-5479d7d02adb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "feb1c96e-efa7-4d44-90cf-e944a0a3b938",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        0
      ],
      "id": "5d40f690-ec94-4874-b156-1afc9d05b29b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sONjSTZQ60SKygEarQkmbegD1JDFZYHqP3iykuj-eeg",
          "mode": "list",
          "cachedResultName": "Shortlisted Students1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sONjSTZQ60SKygEarQkmbegD1JDFZYHqP3iykuj-eeg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sONjSTZQ60SKygEarQkmbegD1JDFZYHqP3iykuj-eeg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('On form submission').item.json.Gmail }}",
            "Linkedin": "={{ $('On form submission').item.json.Linkedin }}",
            "CV": "={{ $('On form submission').item.json.Resume[0].filename }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "AI Rating and summary": "={{ $json.output.ats_score }}\n{{ $json.output.summary }}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Rating and summary",
              "displayName": "AI Rating and summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "7c1eae10-9b35-4a8f-b5d4-f7e7dfae6bfe",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CsR2OuV46QXdgQMV",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "srilakshminunna2200@gmail.com",
        "subject": "New Candidate CV Awaiting Review",
        "message": "=Hello HR, A new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience.  \nCandidate Name: {{ $('On form submission').item.json['Full Name'] }}\n\nCandidate E-mail:{{ $('On form submission').item.json.Gmail }}\n\nCandidate Linkedin:{{ $('On form submission').item.json.Linkedin }}  \n\nCandidate AI Rating: {{ $('If').item.json.output.ats_score }}\n{{ $('If').item.json.output.summary }}\n\n\nThank you for your attention. Best regards, Automated CV Screening",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "c8fb1d6b-9c11-4a44-b98b-ae5f2246a7b6",
      "name": "Send a message",
      "webhookId": "f208da14-a703-43cd-bb3b-f33a8232a0df",
      "credentials": {
        "gmailOAuth2": {
          "id": "jhcg8d0LIAMYVG4j",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Gmail }}",
        "subject": "We have received your CV",
        "message": "=Dear {{ $('On form submission').item.json['Full Name'] }} \n\n\nThank you for submitting your CV.We have received it and we will review it shortly. \nBest regards,\nMediusware ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        0
      ],
      "id": "8609ad78-c377-459f-8f73-69864708b5ad",
      "name": "Send a message1",
      "webhookId": "29dc511f-8314-415c-ba10-7fd44d3a5746",
      "credentials": {
        "gmailOAuth2": {
          "id": "jhcg8d0LIAMYVG4j",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14bc54a4-f575-4e93-ab63-2d114f492ea7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d9601625e6c62ec6bab864f4a789041196e0d728a7808b58f5e08b51d5a6104e"
  },
  "id": "PNi642lTkZVzlsxZ",
  "tags": []
}